$color_1: white;
$color_2: #000080;
$color_3: #0033cc;
$color_4: #f00;
$color_5: #fff;
$color_6: inherit;
$font_family_1: open sans;
$font_family_2: inherit;
$background_color_1: deepskyblue;
$background_color_2: darkorange;
$background_color_3: orange;
$background_color_4: #f2f2f2;
$background_color_5: #dde8f7;
$background_color_6: transparent;
$background_color_7: #eee;
$background_color_8: #fff;
$background_color_9: #428bca;
$border_color_1: #428bca;
$border_bottom_color_1: transparent;

/* css for filtering table column wise */
/* loader css */
// @-webkit-keyframes "spin" {
// 	0% {
// 		-webkit-transform: rotate(0deg);
// 	}
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 	}
// }
// @keyframes "spin" {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }
// /* Add animation to "page content" */
// @-webkit-keyframes "animatebottom" {
// 	from {
// 		bottom: -100px;
// 		opacity: 0;
// 	}
// 	to {
// 		bottom: 0px;
// 		opacity: 1;
// 	}
// }
// @keyframes "animatebottom" {
// 	from {
// 		bottom: -100px;
// 		opacity: 0;
// 	}
// 	to {
// 		bottom: 0;
// 		opacity: 1;
// 	}
// }
header {
	color: $color_1;
	background-color: $background_color_1;
	padding: 20px;
	text-align: center;
}
footer {
	color: $color_1;
	background-color: $background_color_1;
	padding: 20px;
	text-align: center;
	bottom: 0;
}
.vl {
	border-left: 1px solid rgba(0,0,0,.1);
	height: auto;
}
thead {
	background-color: $background_color_2;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#btnLoad {
	height: 40px;
	width: 100px;
	margin: 25px 0 0 200px;
	align-content: center;
}
button {
	&:hover {
		cursor: pointer;
	}
}
.custom-table {
	border: solid 1px #c0c0c0;
	font-family: $font_family_1;
	font-size: 11px;
	th {
		text-align: left;
		padding: 8px;
		border: solid 1px #c0c0c0;
		color: $color_2;
		background-color: $background_color_3;
	}
	td {
		text-align: left;
		padding: 8px;
		border: solid 1px #c0c0c0;
	}
	tr {
		&:nth-child(odd) {
			background-color: $background_color_4;
		}
	}
	>thead {
		>tr {
			background-color: $background_color_5 !important;
		}
	}
	a {
		color: $color_3;
		&:hover {
			color: $color_4;
		}
	}
}
.tbtn {
	border: 0;
	outline: 0;
	background-color: $background_color_6;
	font-size: 13px;
	cursor: pointer;
	white-space: pre;
}
.toggler {
	display: none;
}
.toggler1 {
	display: inline-table;
	width: 100%;
}
.page-header {
	background-color: $background_color_7;
}
b {
	align-content: right;
	float: right;
	white-space: pre;
}
#detailedReportTable {
	margin-top: 0%;
}
.table {
	thead {
		th {
			vertical-align: top;
		}
	}
}
tbody.sample {
	display: block;
	max-height: 700px;
	overflow-y: auto;
	width: 100%;
}
tbody {
	tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
}
#content {
	max-height: 1024px;
	min-height: 930px;
}
.table-wrapper-scroll-y {
	display: block;
	max-height: 930px;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.filterable {
	margin-top: 15px;
	.panel-heading {
		.pull-right {
			margin-top: -26px;
		}
	}
}
.form-control {
	padding: 0 0 0 10px;
	height: auto;
}
.panel-primary {
	border-color: $border_color_1;
	.panel-heading {
		color: $color_5;
		background-color: $background_color_9;
		border-color: $border_color_1;
	}
}
.panel {
	margin-bottom: 20px;
	background-color: $background_color_8;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-bottom-color: $border_bottom_color_1;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	color: $color_6;
}
.pull-right {
	float: right !important;
}
h3 {
	font-family: $font_family_2;
	font-weight: 500;
	line-height: 1.1;
}
#btnFilter {
	line-height: 1.0;
}
#btnExportToExcel {
	line-height: 1.0;
}
.invisible {
	display: none;
}
.visible {
	display: inline;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #34db3c;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}
